<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head" />

<body class="container">

<h1>Create Event</h1>
<nav th:replace="fragments :: navigation" />

<form method="post" action="create">
    <div class="form-group">
        <label for="eventDesc">Event Name:</label>
    <input type="text" name="name" />
    </div>
    <div class="form-group">
        <label for="eventDesc">Event Description:</label>
        <input type="text" name="description" id="eventDesc"/>
    </div>
    <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Create Event"/>
    </div>
</form>

<script th:replace="fragments :: bootstrapBottomScript"/>
</body>
</html>