<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"/>

<body class="container">

<h1>Create Event</h1>
<nav th:replace="fragments :: navigation"/>

<form method="post" th:action="@{/events/edit}">
    <div class="form-group">
        <p th:text="${event.id}"></p>
    </div>
    <input type="hidden" th:value="${event.id}" name="eventId" />
    <div class="form-group">
        <label for="eventName">Event Name:</label>
        <input th:field="${event.name}" id="eventName" th:value="${event.name}"/>
        <p class="error" th:errors="${event.contactEmail}"></p>

    </div>
    <div class="form-group">
        <label for="eventDesc">Event Description:</label>
        <input th:field="${event.description}" id="eventDesc" th:value="${event.description}"/>
        <p class="error" th:errors="${event.contactEmail}"></p>

    </div>
    <div class="form-group">
        <label for="eventEmail">Contact Email</label>
        <input th:field="${event.contactEmail}" id="eventEmail" th:value="${event.contactEmail}" class="form-control"/>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label for="location">Contact Email</label>
        <input th:field="${event.location}" id="location" th:value="${event.location}" class="form-control"/>
        <p class="error" th:errors="${event.location}"></p>
    </div>

    <div class="form-group">
        <label for="attendees">Number of Attendees</label>
        <input type="number" th:field="${event.attendees}" id="attendees" th:value="${event.attendees}" class="form-control"/>
        <p class="error" th:errors="${event.attendees}"></p>
    </div>
    <div class="form-group">
        <label for="hasRegistration">Registration?</label>
        <input type="checkbox" th:field="${event.hasRegistration}" id="hasRegistration" th:value="${event.hasRegistration}" />
        <p class="error" th:errors="${event.hasRegistration}"></p>
    </div>



    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save Edited Event"/>
    </div>
</form>

<script th:replace="fragments :: bootstrapBottomScript"/>
</body>
</html>